* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

a:hover {
    color: #1a0a3a;
}
  
body {
    font-family: "Source Serif 4", serif;
    font-size: 16px;
    margin: 0 auto;
}
.container {
    width: 45%;
    margin: 0 auto;
}

/* навигация начало */

nav {
    margin: 39px auto 0 auto;
    width: 90vw;
    height: 67px;
    max-width: 1400px;

    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #222222;
    font-size: 1.188rem;
    font-family: "Oswald", serif;

}

nav i {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    margin-top: 3px;
    margin-left: 5px;
    width: 2px;
    height: 2px;
}

.linkArrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

li img {
    width: 13px;
    height: 13px;
}

ul {
    display: flex;
    margin: 0;
    transition: .5;
}

li a{
    text-decoration: none;
    color: #222222;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 2px;
}

li a:hover {
    color: #555555;

}

li {
    list-style-type: none;
    margin-right: 30px;
    display: flex;


}

li img[alt="heart"] + a  {
    color: #7247CA;
    margin-left: 4px;
}

li img[alt="heart"] {
    margin-top: 3px;

}

.line-top {
    width: 100vw;
    border: 1px solid #EAEAEE;
    margin-bottom: 96px;
}


@media screen and (max-width: 675px) {
    nav i {
        margin-bottom: 5px;
    }

    
    .burger {
        position: relative;
        display: block;
        height: 25px;
        width: 30px;
    } 
  
    .burger::after, .burger::before {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #222222;
        transition: .3s;
        z-index: 3;
    }
    

    .burger::before {
        content: "";
        top: 0;
    }
    
    .burger::after {
        content: "";
        bottom: 0;
    }
    
    #burger-toggle:checked ~ ul {
        display: flex;

    }
    
    #burger-toggle:checked ~ .burger::before { 
        transform: rotate(45deg); 
        top: 11px;
    } 
    
    #burger-toggle:checked ~ .burger::after { 
        transform: rotate(-45deg);
        bottom: 11px;
    } 

    /* Скрыто на мобиле */
    ul {
        display: none;
    }

    ul {
        position: fixed;
        left: 0;
        right: 0;
        background-color: white;
        height: 100vh;
        font-size: 3rem;
        padding-top: 50px;
        flex-direction: column;
        text-align: center; 
        z-index: 1;
    }

    li {
        display: inline;
    }

}

#burger-toggle{
    display: none;
}
/* конец навигации*/

.line-top {
    width: 100vw;
    border: 1px solid #EAEAEE;
    margin-bottom: 96px;
    background-color: #7247CA;
}

/* начало footer */

.line-bottom {
    max-width: 100%;
    border: 1px solid #EAEAEE;
    margin: 64px 0;
}

.footer {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-left a{
    display: block;
    margin-bottom: 9px;

    text-decoration: none;
    color: #555555;
    font-size: 0.875rem;
    font-weight: 600;
}


.footer-left a:hover {
    color: #222222;
}


.footer-right h5{
    font-weight: 600;
    letter-spacing: 3px;
    color: #222222;
    margin-bottom: 8px;
}

.footer-right p {
    font-size: 0.75rem;
    color: #555555;
    margin-bottom: 14px;
}


.footer-button {
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 3px;
    background-color: #F5F5F7;
} 

.footer-button input {
    height: 32px;
    cursor: pointer;
    border: none;
    background-color: #F5F5F7;
    padding-left: 7px;
    font-size: 0.75rem;
    outline: none
}

.footer-button button {
    width: 30px;
    height: 25px;
    margin: auto 7px auto 0;
    border: none;
    border-radius: 3px;
    background-color: #7247CA;
    cursor: pointer;
    color: white;
}

/* конец footer */


/* адаптив для навигации */

@media screen and (max-width: 675px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}

@media (hover:hover) {
    li a:hover {
        color: #555555;
    }

    .footer-left a:hover {
        color: #222222;
    }

    a:hover {
        color: #1a0a3a;
    }
}

@media (hover: none) {
    li a:active {
        color: #555555;
    }
    .footer-left a:active {
        color: #222222;
    }
    a:active {
        color: #1a0a3a;
    }
}